.SpecialsBanner {
  background-size: cover;
  width: 100%;
  max-width: 1920px;
  height: 600px;
  margin: 0 auto 2rem auto;
  position: relative;

  @media screen and (max-width: 1300px) {
    height: 400px;
    margin-bottom: 1rem;
  }

  &-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 601px;
    width: 100%;
  }

  &-body {
    position: absolute;
    top: 60px;
    left: 125px;
    width: 700px;
  }

  &-title {
    font-size: var(--fSize24);
    color: var(--white);
    letter-spacing: -1px;
    margin-bottom: 0.75rem;
    font-family: var(--Audi500);
    font-weight: 400;
  }

  &-form {
    margin-left: 1.75rem;

    &-input {
      width: 100%;
      max-width: 410px;
      padding: 0.4rem;
      outline: none;
      border: none;
      border-radius: 0.05rem;
      font-family: var(--Audi500);
      
      &::placeholder {
        font-size: var(--fSize16);
        letter-spacing: -1px;
        font-family: var(--Audi500);
      }

      &:focus {
        outline: 2px solid var(--black);
        border-radius: 0.15rem;
      }
    }

    &-btn {
      margin-left: 1.5rem;
      padding: 0.5rem 1.75rem;
      background-color: var(--black);
      font-size: var(--fSize12);
      color: var(--white);
      font-weight: 600;
      letter-spacing: -1px;
      cursor: pointer;
      transition: background 0.35s ease;
      font-family: var(--Audi400);
      letter-spacing: 0.5px;

      &:hover {
        background-color: var(--gray_0);
      }
    }

    &-errors {
      margin-top: 0.5rem;
      font-size: var(--fSize14);
      color: var(--red_30);
      font-weight: 400;
    }
  }
}
