:root {
  //black
  --black: #000;
  --black_10: #1a1a1a;

  //white
  --white: #fff;
  --white_10: #f2f2f2;

  //gray
  --gray_0: rgb(76,76, 76);
  --gray_10: #d9d9d9;
  --gray_20: #4c4c4c;
  --gray_30: #b3b3b3;
  
  //red
  --red_0: #f50537;
  --red_30: rgb(187, 10, 48);
}

