.Electric {
  position: relative;

  &-error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 700;
  }

  &-image-wrap {
    position: relative;
    min-height: 800px;
    padding-left: 2rem;

    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(0, 0, 0) 100%);
  }
  &-image {
    z-index: -1;
  }
  &-title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white);
    font-size: 2.5rem;
    width: 100%;
    max-width: var(--max-width-tablet);
    padding-left: 1rem;
  }
  &-description {
    text-align: center;
    color: var(--white);
    font-size: 3.25rem;
    background-color: var(--black);
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  &-cars {
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: var(--container-max-width);
    margin: 0 auto;
    width: max-content;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  &-cars-overview {
    color: var(--black);
    font-weight: 700;
  }
  &-cars-item {
    color: var(--black);
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  &-banner {
    padding-top: 240px;
    padding-bottom: 240px;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &-cars-nav {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    z-index: 4;
  }
  &-banner-title {
    font-size: 3.25rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &-banner-description {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  &-gt-container {
    position: relative;
    min-height: 850px;
  }
  &-gt {
    z-index: 2;
  }
  &-gt-additional {
    z-index: 1;
  }
  &-popup {
    padding: 4rem 2rem 2rem 2rem;
    min-width: 80vw;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 0;
  }
  &-popup-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  &-popup-description {
    padding-bottom: 6rem;
  }
  &-hybrid {
    padding: 240px 1rem 0 1rem;
    max-width: var(--container-max-width);
    margin: 0 auto;

    &-title {
      font-size: 3.25rem;
      margin-bottom: 2rem;
      text-align: center;
    }
    &-text {
      font-size: 1.25rem;
      max-width: 60%;
      margin: 0 auto;
      padding-bottom: 240px;
    }
  }
  &-footer {
    position: relative;
    min-height: 1000px;
    &-content {
      position: absolute;
      top: 6rem;
      left: 2rem;
      background-color: var(--white);
      padding: 3.25rem;
      max-width: 680px;
    }
    &-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &-text {
      margin-bottom: 1rem;
    }
    &-link {
      color: var(--black);
      display: flex;
      align-items: center;
      svg {
        transition: transform 0.3s ease;
      }
      &:hover svg {
        transform: translateX(5px) rotate(-90deg) !important;
      }
    }
  }
}
