.SportHistoryLegends {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;

  &-title {
    max-width: 1300px;
    margin: 0 auto 1.125rem 225px;
    font-size: var(--fSize44);
    font-family: var(--Audi500);
  }

  &-list {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 384px);
  }
}