.ModelsDetails {
  background-color: var(--white);

  &-btn {
    padding: 5rem 0 5rem 4.75rem;
    text-decoration: underline;
    font-size: var(--fSize14);
    font-family: var(--AudiVF);
    cursor: pointer;
  }

  &-modal-text {
    font-size: var(--fSize18);
    font-family: var(--AudiVF);
    padding: 0 2rem;
    line-height: 1.75rem;
  }
}