.VideoPlayer {
    position: relative;
    max-width: 1920px;
    height: 750px;
    padding: 3.5rem 4.5rem;
    margin: 0 auto;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--black);
      opacity: 0.3;
      z-index: 1;
    }

    &.hide {
      &::before {
        z-index: -1;
      }
    }

    &-title {
      color: var(--white);
      font-size: var(--fSize44);
      font-family: var(--Audi500);
      letter-spacing: -0.5px;
    }
  
    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--gray_30);
      width: 96px;
      height: 96px;
      z-index: 2;
  
      &.hide {
        display: none;
      }
    }
  
    &-player {
      max-width: 1920px;
      width: 100%;
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: var(--black);
    }
}