.CarsSection {
	&-tabs {
		margin: 1rem auto 2rem;
		width: 92%;

		&-item {
			display: inline-block;
			padding: 0.75rem 1.5rem;
			opacity: 0.6;

			&.active {
				pointer-events: none;
				opacity: 1;
				border-bottom: 1px solid var(--black);
			}
		}
	}

	&-carousel {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		margin-bottom: 1rem;

		&-container {
			overflow-x: auto;
			white-space: nowrap;
			padding: 0 0 1rem;
		}

		&-control {
			position: relative;

			&-btn {
				width: 50px;
				height: 100%;
				position: absolute;
				top: 0;
				background-color: var(--white);
				z-index: 2;

				&.hide {
					display: none;
				}

				&.prev {
					left: 0;
					border-right: 1px solid var(--gray_30);
				}
				&.next {
					right: 0;
					border-left: 1px solid var(--gray_30);
				}
			}
		}

		&-slide {
			display: inline-block;

			&:last-of-type{
				margin-right: 3em;
			}

			&-img {
				&.alt {
					display: none;
				}
			}

			&.active &-img { display: none; }

			&.active &-img.alt { display: initial; }

			&-title {
				text-align: center;
				display: block;
				font-size: 1.2rem;
			}
		}

		&-subitems {
			padding-top: 1em;
			margin-top: 1em;
			border-top: 1px solid var(--gray_30);
			text-align: center;
			overflow: hidden;
			max-height: 600px;

			&:not(.showing){
				max-height: 0;
			}

			&-closeBtn {
				border-radius: 50%;
				width: 50px;
				height: 50px;
				background-color: var(--black);
				position: relative;
				display: inline-block;
				margin: 0.75rem auto;
				transition: transform 0.3s ease;
				display: flex;
				align-items: center;
				justify-content: center;
				
				&:hover {
					transform: scale(110%);
				}

				& > svg {
					fill: var(--white);
					width: 1.25rem;
				}

				&-block {
					margin-bottom: 1em;
				}

				&-text {
					display: block;
					font-size: 1.3rem;
				}
			}

			&-list {
				display: inline-flex;
				justify-content: center;
				flex-wrap: wrap;
				padding: 0 5%;

			}

			&-link {
				margin: 1.5rem 0.5em;
				text-align: center;
				
				&-text {
					display: block;
					color: var(--black);
					font-size: 1.15rem;
					padding: 0 1rem;
				}
			}
		}
	}
}