.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  background-color: var(--white);
  height: 4.5rem;
  padding: 0 6rem;

  &-logo {
    line-height: 1;
  }

  &-profile {
    line-height: 1;
    svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      margin-right: 0.5rem;
    }
    span {
      vertical-align: middle;
    }
  }

  &-nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 80%;

    &-item {
      margin: 0 0.75rem;
      color: var(--black);
    }
  }
}
