.SportDNABanner {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 600px;
  padding: 3.25rem 4.75rem;


  &-title {
    font-size: var(--fSize40);
    font-family: var(--Audi500);
    font-weight: 600;
  }
}